<%- include('../partials/_navbar.ejs') %>
<style>
    .form-control {
        color: gray;
    }
</style>

<div class="container">
<br>
<h1>View/Edit Profile</h1>

<br>
<a href="/utils/edit" class="btn btn-primary">Edit Profile</a>
<br>
<br>

<%- include('../utils/_form.ejs') %>