<%- include('../partials/_navbar.ejs') %>
<style>
    .form-control {
        color: navy;
    }
</style>

<div class="container">
<br>
<h1>Edit Profile</h1>

<br>
<form action="/utils/edit?method=PUT" method="POST">
    <button class="btn btn-primary" type="submit">Save</button>
    <a href="/utils/details" class="btn btn-danger">Cancel</a>
    <br>
    <br>

    <%- include('../utils/_form.ejs') %>
    <button class="btn btn-primary" type="submit">Save</button>
    <a href="/utils/details" class="btn btn-danger">Cancel</a>
</form>
<br>


<script>
    var inputs = document.getElementsByTagName('input');
    for(i of inputs){
        i.readOnly = false;
    }
    var selects = document.getElementsByTagName('select');
    for(i of selects){
        i.disabled = false;
    }

    console.log("<%=user.gender%>")

    
</script>